<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Topics</title>
</head>
<body>

<div th:each="topic: *{topics}">
    <h3 th:text="${topic.title}"></h3>
    <section th:text="${topic.header}"></section>
</div>

<h1>New topic submission form</h1>
<form th:action="@{/topics}" th:object="${newTopic}" method="post">
    <p>
        <label>Topic title:
            <input type="text" th:field="*{title}" />
        </label>
    </p>
    <p>Topic header:
        <label>
            <input type="text" th:field="*{header}" />
        </label>
    </p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>

</body>
</html>