<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test_db</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">password</property>

        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="org.codeacademy.test.exam.Question" />
        <mapping class="org.codeacademy.test.exam.Answer" />
        <mapping class="org.codeacademy.test.exam.Exam" />
        <mapping class="org.codeacademy.test.exam.ExamQuestion" />
        <mapping class="org.codeacademy.test.user.User" />

    </session-factory>
</hibernate-configuration>